* {
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: rgb(204, 226, 231);
    -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
   margin: 0 auto;
}
header {
    top: 0;
    width: 85%;
    height: 10%;
    position: fixed;
    z-index: 1;
    text-align: center;
}


#logo {
  float: left;
  margin-left: 10px;
  padding-top: 50px;
  width: 200px;
  height: 200px;
}


/* Starting the navigation bar */
nav {    
    display: block;
    text-align: center;
    margin-left: 13%;
}

  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }

  .nav {  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 
      1px -1px -1px 1px #000, 
      -1px 1px -1px 1px #fff, 
      0 0 6px 3px #fff;
    border-radius:6px;
  }

  .nav li {
    position: relative;
  }

  .nav > li { 
    float: left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
  } 

  .nav > li > a { 
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em #555; 
  }

  .nav > li:hover, .nav > li:hover > a { 
  border-bottom-color: orange;
}

.nav li:hover > a { 
    color:orange; 
  }

  .nav > li:first-child { 
    border-radius: 4px 0 0 4px;
  } 

  .nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
  }

  .nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 

  .nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
  }
  .nav li li a { 
    margin-top: 1px;
  }

  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
   }

   /* submenu positioning*/
  .nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  orange;
    z-index: 1;
    left: -99999em;
  }
  .nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
  }
  .nav > li li:hover > ul { 
    left: 100%;
    margin-left: 1px;
    top: -1px;
  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
  }
  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: orange;
    right: 10px; 
  }
/* Closing the navigation bar */



  
.Home-slides {
    width: 40%;
    height: auto;
    margin-top: 15%;
    margin-left: 25%;
    border-radius: 20px 20px 20px 20px;
}

#welcome {
    font-size: 160%;
    color: rgb(212, 0, 255);
    margin-left: 17%;
}
#introduction {
    font-size: 100%;
    color: blueviolet;
    margin-left: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  .grid-item {
    text-align: center;
  }


#Home {
    width: 75vw;
    height: 100vh;
    font-size: 100%;
    padding-bottom: 100%;
    
}



#Company {
    width: 100%;
    padding-bottom: 100%;
    
}


#company-name {
    margin-left: 35%;
    font-size: 200%; 
    padding-top: 130px;
}

.cmpany-prfile {
    padding-top: 100px;
    padding-left: 100px;
    font-size: 150%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    
}




#Services {
    width: 100%;
    padding-bottom: 100%;
}
#services {
  margin-left: 35%;
  font-size: 200%; 
  padding-top: 130px;
  
}
.supply {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 150%;
}
.services {
    padding-top: 10px;
    margin: 10px 30px;
}

.karen-products {
  width: 100%;
  padding-bottom: 100%;
}

.productGroup {
  padding-top: 40%;
  margin-left: -40%;
}

.ulProducts {
  list-style-type: none;
  margin-left: -50%;
  padding-top: 5%
}

.liProducts {
  padding-top: 2%;
  font-size: 120%;
}

.dieselEngine {
  width: 100%;
  padding-bottom: 100%;
}

.diesel {
  padding-top: 15%;
  padding-left: 15%;
}

.imgProducts {
  width: 120px;
  height: 80px;
  padding-top: 3%;
  padding-left: 5%;
}

.shaftSealEquipment {
  width: 100%;
  padding-bottom: 100%;
}

.deckMachinary {
  width: 100%;
  padding-bottom: 100%;
}

.controlSystem {
  width: 100%;
  padding-bottom: 100%;
}

.PLC {
  width: 100%;
  padding-bottom: 100%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 40vw;
    margin-left:28%;
    padding-top: 50px;
    position: relative;
}

.products {
    width: 40vw;
    height: auto;
}



/* Next and Previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color:white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the rigth */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: black;
}

/* Caption text */
.text {
    color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
    color: black;
    font-size: 17px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* THe dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active, .dot:hover {
    background-color: black;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-anomation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

.productItems {
  text-align: center;
  padding-top: 80px;
}
  

.flex-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.flex-container > div {
  background-color: none;
  margin: auto;
  padding-top: 50px;
  font-size: 25px;
}


.footer {
    
    list-style-type: none;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin: auto;
 }

#FAQ {
    width: 100%;
    height: 100vh;
    
}

#faq {
    margin-left: 37%;
    font-size: 200%; 
    padding-top: 70px;
}
#Contacts {
    width: 100%;
    height: 100vh;
    
}
#contacts {
    margin-left: 26.5%;
    font-size: 160%; 
    padding-top: 100px;
}



@media only screen and (max-width: 1639px) {
  
.Home-slides {
  width: 40vw;
  height: auto;
  margin-top: 15%;
  margin-left: 16.5%;
  border-radius: 20px 20px 20px 20px;
}

#welcome {
  font-size: 160%;
  color: rgb(212, 0, 255);
  margin-left: 12%;
}
#introduction {
  font-size: 100%;
  color: blueviolet;
  margin-left: 2%;
}

#products {
  margin-left: 32%;
  font-size: 200%; 
  padding-top: 130px;
}

#faq {
  margin-left: 35%;
  font-size: 200%; 
  padding-top: 70px;
}

#contacts {
  margin-left: 25%;
  font-size: 150%; 
  padding-top: 100px;
}

}


@media only screen and (max-width: 1461px) {

  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 150%;
    color: rgb(212, 0, 255);
    margin-left: 9%;
  }
  #introduction {
    font-size: 90%;
    color: blueviolet;
    margin-left: 1%;
  }

  #company-name {
    margin-left: 33%;
    font-size: 185%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 140%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 95%;
}

#services {
  margin-left: 35%;
  font-size: 185%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 140%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 95%;
}

  #products {
    margin-left: 31%;
    font-size: 180%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 34%;
    font-size: 180%; 
    padding-top: 100px;
  }
  
  #contacts {
    margin-left: 24.5%;
    font-size: 140%; 
    padding-top: 100px;
  }
}


@media only screen and (max-width: 1200px) {
  
  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 17%;
    margin-left: 10%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 135%;
    color: rgb(212, 0, 255);
    margin-left: 4%;
  }
  #introduction {
    font-size: 70%;
    color: blueviolet;
    margin-left: -1%;
  }

  #company-name {
    margin-left: 33%;
    font-size: 170%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 130%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 85%;
}

#services {
  margin-left: 32%;
  font-size: 170%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 130%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 85%;
}

  #products {
    margin-left: 28%;
    font-size: 180%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 33%;
    font-size: 170%; 
    padding-top: 100px;
  }
  
  #contacts {
    margin-left: 23%;
    font-size: 130%; 
    padding-top: 100px;
  }

}

@media only screen and (max-width: 1000px) {

  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 33%;
    margin-left: 9%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 120%;
    color: rgb(212, 0, 255);
    margin-left: -4%;
  }
  #introduction {
    font-size: 55%;
    color: blueviolet;
    margin-left: -4.5%;
  }

  #company-name {
    margin-left: 30%;
    font-size: 160%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 118%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 70%;
}

#services {
  margin-left: 30%;
  font-size: 160%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 118%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 70%;
}

  #products {
    margin-left: 27%;
    font-size: 160%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 30%;
    font-size: 160%; 
    padding-top: 100px;
  }

  #contacts {
    margin-left: 18%;
    font-size: 120%; 
    padding-top: 250px;
  }

}

@media only screen and (max-width: 927px) {

  nav {    
    display: block;
    text-align: center;
    margin-left: 15%;
}

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.7em 1.7em;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }

  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 33%;
    margin-left: 7%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 120%;
    color: rgb(212, 0, 255);
    margin-left: -9%;
  }
  #introduction {
    font-size: 55%;
    color: blueviolet;
    margin-left: -9%;
  }

}

@media only screen and (max-width: 820px) {

  nav {    
    display: block;
    text-align: center;
    margin-left: 15%;
}

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.6em 1.6em;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 38%;
    margin-left: 4%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 115%;
    color: rgb(212, 0, 255);
    margin-left: -11%;
  }
  #introduction {
    font-size: 55%;
    color: blueviolet;
    margin-left: -13%;
  }

  #company-name {
    margin-left: 30%;
    font-size: 150%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 110%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 60%;
}

#services {
  margin-left: 30%;
  font-size: 150%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 110%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 60%;
}

  #products {
    margin-left: 27%;
    font-size: 145%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 30%;
    font-size: 145%; 
    padding-top: 100px;
  }

  #contacts {
    margin-left: 12%;
    font-size: 120%; 
    padding-top: 250px;
  }

}

@media only screen and (max-width: 795px) {

  nav {    
    display: block;
    text-align: center;
    margin-left: 13%;
}

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 38%;
    margin-left: 2%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 110%;
    color: rgb(212, 0, 255);
    margin-left: -13%;
  }
  #introduction {
    font-size: 55%;
    color: blueviolet;
    margin-left: -18%;
  }

  #company-name {
    margin-left: 30%;
    font-size: 140%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 105%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 55%;
}

#services {
  margin-left: 30%;
  font-size: 140%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 105%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 55%;
}

  #products {
    margin-left: 27%;
    font-size: 130%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 30%;
    font-size: 137%; 
    padding-top: 100px;
  }

  #contacts {
    margin-left: 10.5%;
    font-size: 115%; 
    padding-top: 250px;
  }
}

@media only screen and (max-width: 770px) {

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.3em 1.3em;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }

}

@media only screen and (max-width: 697px) {

  nav {    
    display: block;
    text-align: center;
    margin-left: 10%;
}

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.1em 1.1em;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 44%;
    margin-left: -3%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 105%;
    color: rgb(212, 0, 255);
    margin-left: -21%;
  }
  #introduction {
    font-size: 55%;
    color: blueviolet;
    margin-left: -28%;
  }

  #company-name {
    margin-left: 30%;
    font-size: 130%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 105%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 55%;
}

#services {
  margin-left: 30%;
  font-size: 130%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 105%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 55%;
}

  #products {
    margin-left: 27%;
    font-size: 120%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 30%;
    font-size: 125%; 
    padding-top: 100px;
  }

  #contacts {
    margin-left: 9%;
    font-size: 110%; 
    padding-top: 250px;
  }
}

@media only screen and (max-width: 511px) {

  nav {    
    display: block;
    text-align: center;
    margin-left: 10%;
}

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.05em 1em;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 50%;
    margin-left: -3%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 105%;
    color: rgb(212, 0, 255);
    margin-left: -21%;
  }
  #introduction {
    font-size: 55%;
    color: blueviolet;
    margin-left: -28%;
  }

  #company-name {
    margin-left: 30%;
    font-size: 130%; 
    padding-top: 170px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 105%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 55%;
}

#services {
  margin-left: 30%;
  font-size: 130%; 
  padding-top: 170px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 105%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 55%;
}

  #products {
    margin-left: 27%;
    font-size: 120%; 
    padding-top: 130px;
  }
  
  #faq {
    margin-left: 30%;
    font-size: 125%; 
    padding-top: 100px;
  }

  #contacts {
    margin-left: 9%;
    font-size: 110%; 
    padding-top: 250px;
  }
}

@media only screen and (max-width: 491px) {

  nav {    
    display: block;
    text-align: center;
    margin-left: 13%;
}

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.05em 1em;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .Home-slides {
    width: 40vw;
    height: auto;
    margin-top: 60%;
    margin-left: -14%;
    border-radius: 20px 20px 20px 20px;
  }
  
  #welcome {
    font-size: 80%;
    color: rgb(212, 0, 255);
    margin-left: -38%;
  }
  #introduction {
    font-size: 50%;
    color: blueviolet;
    margin-left: -50%;
  }

  #company-name {
    margin-left: 23%;
    font-size: 120%; 
    padding-top: 250px;
}

.cmpany-prfile {
    padding-top: 80px;
    padding-left: 100px;
    font-size: 100%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    font-size: 55%;
}

#services {
  margin-left: 23%;
  font-size: 120%; 
  padding-top: 250px;
  
}
.supply {
  padding-top: 80px;
  padding-left: 100px;
  font-size: 100%;
}
.services {
  padding-top: 10px;
  margin: 10px 30px;
  font-size: 55%;
}

  #products {
    margin-left: 15%;
    font-size: 110%; 
    padding-top: 250px;
  }
  
  #faq {
    margin-left: 20%;
    font-size: 125%; 
    padding-top: 250px;
  }

  #contacts {
    margin-left: 5%;
    font-size: 85%; 
    padding-top: 250px;
  }
}