* {
    margin: 0;
    padding: 0;
}
body{
    background-color: gainsboro;
}
header {
    top: 0;
    width: 100%;
    height: 60px;
    background-color: darkblue;
    position: fixed;
    text-align: center;
    
}
ul {
    list-style-type: none;
    margin:auto;
    padding-top: 20px;
    
    
}
li {
    margin: 20px;
    display: inline;
    font-size: 100%;   
    
}
.header-links {
    text-decoration: none;
    color: white;
}
.Home-slides {
    width: 80%;
    Height: 70vh;
    margin: auto;
    padding-top: 90px;
    border-radius: 20px;
}
#welcome {
    font-size: 140%;
    color: orange;
    margin-left: 10px;
}
#introduction {
    font-size: 100%;
    color: blueviolet;
    margin-left: 10px;
}

#logo {
    padding-right: 1500px;
   
    padding-bottom: 5000px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  .grid-item {
    text-align: center;
  }


#Home {
    width: 75vw;
    height: 100vh;
    font-size: 100%;
    padding-bottom: 150px;
    
}

#sidebar {
    position: relative;
    width: 25vw;
   
}

#News {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    

}
#news {
    
    font-size: 200%; 
    padding-top: 70px;
    
}


#Company {
    width: 100%;
    
    padding-bottom: 60px;
}
#company-name {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
.cmpany-prfile {
    padding-top: 30px;
    padding-left: 100px;
    font-size: 150%;
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
}
#Services {
    width: 100%;
    
    padding-bottom: 60px;
}
#services {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
    
}
.supply {
    padding-top: 30px;
    padding-left: 100px;
    font-size: 150%;
}
.services {
    padding-top: 10px;
    margin: 10px 30px;
}
#Products {
    width: 100%;
    height: 100vh;
    
}
#products {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
.product-title {
    margin-left: 40px;
    text-decoration: underline;
    color: rgb(144, 174, 238);
    font-size: 150%;
}
.product-slides{
    width: 30%;
    Height: 400px;
    margin: auto;
    padding-top: 90px;
}
.product-style {
    border: 5px solid black;
}
#Sales {
    width: 100%;
    height: 100vh;
    
}
#sales {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
#Network {
    width: 100%;
    height: 100vh;
    
}
#network {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
.network-box {
    border: 2px solid green;
    border-radius: 25px;
    text-align: center;
    
    padding: 20px;
    text-decoration: none;
}
#companies_we_work_with {
    margin-top: 100px;
    margin-left: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(3, 1, 80);
    text-align: center;
    margin: auto;
 }
#FAQ {
    width: 100%;
    height: 100vh;
    
}
#faq {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
#Contacts {
    width: 100%;
    height: 100vh;
    
}
#contacts {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
#mail-phone {
    margin-top: 100px;
    margin-left: 100px;
}
.contact-box {
    border: 2px solid green;
    border-radius: 25px;
    text-align: center;
    background-color: yellow;
    padding: 20px;
    text-decoration: none;
}
