* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(204, 226, 231);
    -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}
header {
    top: 0;
    width: 85%;
    height: 10%;
    position: fixed;
    text-align: center;
}



#logo {
  float: left;
  margin-left: 10px;
  padding-top: 50px;
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 700px) {
  #logo {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 500px) {
  #logo {
    width: 90px;
    height: 90px;
  }
}


nav {    
    display: block;
    text-align: center;
    margin-left: 13%;
}

@media only screen and (max-width: 700px) {
  nav {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    margin-left: 0;
  }
}


  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }

  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }


  @media only screen and (max-width: 750px) {
    .nav a {
      padding: 0.4em 1.4em;
      font-size: 60%;
      letter-spacing: 1.5px;
    }
  }

  @media only screen and (max-width: 500px) {
    .nav a {
      padding: 0.3em 1.2em;
      font-size: 45%;
      letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 300px) {
    .nav a {
      padding: 0.2em 1em;
      font-size: 30%;
      letter-spacing: 0.5px;
    }
  }

  .nav {  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 
      1px -1px -1px 1px #000, 
      -1px 1px -1px 1px #fff, 
      0 0 6px 3px #fff;
    border-radius:6px;
  }

  .nav li {
    position: relative;
  }

  .nav > li { 
    float: left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
  } 

  .nav > li > a { 
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em #555; 
  }

  .nav > li:hover, 
.nav > li:hover > a { 
  border-bottom-color: orange;
}

.nav li:hover > a { 
    color:orange; 
  }

  .nav > li:first-child { 
    border-radius: 4px 0 0 4px;
  } 

  .nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
  }

  .nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 

  .nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
  }
  .nav li li a { 
    margin-top: 1px;
  }

  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
   }

   /* submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  orange;
    z-index: 1;
    left: -99999em;
  }
  .nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
  }
  .nav > li li:hover > ul { 
    left: 100%;
    margin-left: 1px;
    top: -1px;
  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
  }
  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: orange;
    right: 10px; 
  }

  
.Home-slides {
    width: 60vw;
    height: 60vh;
    max-width: 60%;
    max-Height: 60vh;
    margin-left: 17%;
    margin-top: 15%;
    border-radius: 20px 20px 20px 20px;
    
}


@media only screen and (max-width: 700px) {
  .Home-slides {
    margin-top: 25%;
    max-width: 35%;
    max-height: 35vh;
  }
}

@media only screen and (max-width: 400px) {
  .Home-slides {
    margin-top: 45%;
    max-width: 15%;
    max-height: 15vh;
  }
}



#welcome {
    font-size: 160%;
    color: rgb(212, 0, 255);
    text-align: center;
  
}
#introduction {
    font-size: 100%;
    color: blueviolet;
    text-align: center;
    
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  .grid-item {
    text-align: center;
  }


#Home {
    width: 75vw;
    height: 100vh;
    font-size: 100%;
    padding-bottom: 150px;
    
}



#Company {
    width: 100%;
    padding-bottom: 60px;
    
}


#company-name {
    margin-left: 35%;
    font-size: 200%; 
    padding-top: 130px;
    
}

@media only screen and (max-width: 750px) {
  #company-name {
    margin-left: 25%;
    font-size: 150%; 
    padding-top: 150px;
  }
}

@media only screen and (max-width: 500px) {
  #company-name {
    margin-left: 15%;
    font-size: 90%; 
    padding-top: 160px;
  }
}


.cmpany-prfile {
    padding-top: 100px;
    padding-left: 100px;
    font-size: 150%;
    
}
.company-detail {
    padding-top: 10px;
    margin: 10px 30px;
    
}
#Services {
    width: 100%;
    
    padding-bottom: 60px;
}
#services {
  margin-left: 35%;
  font-size: 200%; 
  padding-top: 130px;
  
}

@media only screen and (max-width: 750px) {
#services {
  margin-left: 25%;
  font-size: 150%; 
  padding-top: 150px;
}
}

@media only screen and (max-width: 500px) {
#services {
  margin-left: 15%;
  font-size: 90%; 
  padding-top: 160px;
}
}


.supply {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 150%;
}
.services {
    padding-top: 10px;
    margin: 10px 30px;
}

#products {
  margin-left: 35%;
  font-size: 200%; 
  padding-top: 130px;
  
}

@media only screen and (max-width: 750px) {
#products {
  margin-left: 25%;
  font-size: 150%; 
  padding-top: 150px;
}
}

@media only screen and (max-width: 500px) {
#products {
  margin-left: 15%;
  font-size: 90%; 
  padding-top: 160px;
}
}

/* Slideshow container */
.slideshow-container {
    max-width: 40vw;
    position: relative;
    margin-left:28%;
    padding-top: 50px;
}

.products {
    width: 40vw;
    height: 70vh;
}

@media only screen and (max-width: 800px) {
    .products {

        height: 35vh;
    }
}

@media only screen and (max-width: 500px) {
    .products {
        
        height: 25vh;
    }
}

/* Next and Previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color:white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the rigth */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: black;
}

/* Caption text */
.text {
    color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
    color: black;
    font-size: 17px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* THe dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active, .dot:hover {
    background-color: black;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-anomation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

.productItems {
  text-align: center;
  padding-top: 80px;
}

@media only screen and (min-width: 500px) {
  

.flex-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.flex-container > div {
  background-color: none;
  margin: auto;
  padding-top: 50px;
  font-size: 25px;
}
}

@media only screen and (max-width: 500px) {
  .flex-container {
    text-align: center;
  }
}

#Sales {
    width: 100%;
    height: 100vh;
    
}
#sales {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}



.footer {
    
    list-style-type: none;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin: auto;
 }
#FAQ {
    width: 100%;
    height: 100vh;
    
}
#faq {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
#Contacts {
    width: 100%;
    height: 100vh;
    
}
#contacts {
    text-align: center;
    font-size: 200%; 
    padding-top: 70px;
}
#mail-phone {
    margin-top: 100px;
    margin-left: 100px;
}
.contact-box {
    border: 2px solid green;
    border-radius: 25px;
    text-align: center;
    background-color: yellow;
    padding: 20px;
    text-decoration: none;
}
